body,
html {
  padding: 0;
  margin: 0;
}
.App {
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#quote-box {
  width: 400px;
  padding: 2em;
}
#author {
  text-align: right;
  width: inherit;
  float: right;
  padding: 1em 0em;
}
#quote-change {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  width: 100%;
}
i {
  padding: 0 0.5em;
}
p {
  line-height: 22px;
  font-weight: bold;
  font-size: 20px;
}
button {
  padding: 0.5em;
  background: lightcoral;
}
a {
  border: 1px solid black;
  background: #0002;
  text-decoration: none;
  padding: 0.5em;
  background-color: lightcoral;
  color: #000;
}

button:hover,
a:hover {
  background: lightseagreen;
}

@media only screen and (max-width: 500px) {
  #quote-box {
    width: 100%;
  }
}
